@media (max-width: 576px) {
    .containerButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    .containerButtons2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }
    
    .cursoButton{
        height: 20vh;
        width: 50vw;
        padding: 30px;
        background: rgb(251,133,133);
        background: linear-gradient(180deg, rgba(251,133,133,1) 0%, rgba(140,12,12,1) 95%, rgba(140,12,12,1) 100%);
        margin: 50px;
        transition: all 0.5s;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #fff;
        font-size: 26px;
        text-align: center;

        font-weight: bold;
    }
    .cursoButton a{
        text-decoration: none !important;
        color: #fff;
        text-align: center;
    }

    .cursoButton a:hover{
        color: #fff;
    }
    .cursoButton:hover{
        opacity: .7;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #fff;
    }
    
 }

@media (min-width: 576px) {
    .containerButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    .containerButtons2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    
    .cursoButton{
        height: 20vh;
        width: 50vw;
        padding: 30px;
        background: rgb(251,133,133);
        background: linear-gradient(180deg, rgba(251,133,133,1) 0%, rgba(140,12,12,1) 95%, rgba(140,12,12,1) 100%);
        margin: 50px;
        transition: all 0.5s;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #fff;
        font-size: 26px;
        text-align: center;

        font-weight: bold;
    }
    .cursoButton a{
        text-decoration: none !important;
        color: #fff;
        text-align: center;
    }

    .cursoButton a:hover{
        color: #fff;
    }
    .cursoButton:hover{
        opacity: .7;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #fff;
    }
 }

@media (min-width: 768px) { 
    .containerButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    .containerButtons2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    
    .cursoButton{
        height: 20vh;
        width: 50vw;
        padding: 30px;
        background: rgb(251,133,133);
        background: linear-gradient(180deg, rgba(251,133,133,1) 0%, rgba(140,12,12,1) 95%, rgba(140,12,12,1) 100%);
        margin: 50px;
        transition: all 0.5s;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #fff;
        font-size: 26px;
        text-align: center;

        font-weight: bold;
    }
    .cursoButton a{
        text-decoration: none !important;
        color: #fff;
        text-align: center;
    }

    .cursoButton a:hover{
        color: #fff;
    }
    .cursoButton:hover{
        opacity: .7;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #fff;
    }
    
}

@media (min-width: 992px) { 
    .containerButtons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    .containerButtons2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    
    .cursoButton{
        height: 20vh;
        width: 20vw;
        padding: 30px;
        background: rgb(251,133,133);
        background: linear-gradient(180deg, rgba(251,133,133,1) 0%, rgba(140,12,12,1) 95%, rgba(140,12,12,1) 100%);
        margin: 50px;
        transition: all 0.5s;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
    }
    .cursoButton a{
        text-decoration: none !important;
        color: #fff;
    }

    .cursoButton a:hover{
        color: #fff;
    }
    .cursoButton:hover{
        opacity: .7;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #fff;
    }
    
}

@media (min-width: 1200px) {
    .containerButtons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    .containerButtons2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    
    .cursoButton{
        height: 20vh;
        width: 20vw;
        padding: 30px;
        background: rgb(251,133,133);
        background: linear-gradient(180deg, rgba(251,133,133,1) 0%, rgba(140,12,12,1) 95%, rgba(140,12,12,1) 100%);
        margin: 50px;
        transition: all 0.5s;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
    }
    .cursoButton a{
        text-decoration: none !important;
        color: #fff;
    }

    .cursoButton a:hover{
        color: #fff;
    }
    .cursoButton:hover{
        opacity: .7;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #fff;
    }
    
 }

@media (min-width: 1400px) {
    .containerButtons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    .containerButtons2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 80vw;
        margin: 3vw;
        margin-left: 10%;
    }

    
    .cursoButton{
        height: 20vh;
        width: 20vw;
        padding: 30px;
        background: rgb(251,133,133);
        background: linear-gradient(180deg, rgba(251,133,133,1) 0%, rgba(140,12,12,1) 95%, rgba(140,12,12,1) 100%);
        margin: 50px;
        transition: all 0.5s;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
    }
    .cursoButton a{
        text-decoration: none !important;
        color: #fff;
    }

    .cursoButton a:hover{
        color: #fff;
    }
    .cursoButton:hover{
        opacity: .7;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #fff;
    }
  
    .footer{
        position: fixed;
    }
 }